.header{
    background: #1D1D49;
    ;
}
body{
    background: #F4EDE4;

}
.title{
    color: #F4EDE4;
    font-feature-settings: 'cpsp' on;
    font-family: Playfair Display;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-variant: small-caps;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 200px;
}
.rectangulo{
    width: auto;
    height: 80px;
    flex-shrink: 0;
    background: #1D1D49;
    padding-top: 0px;
    padding-bottom: 0px;
    }


