body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}
.header {
  text-align: center;
  padding: 20px;
  color: #3C3C3B;
  font-size: 20px;
  background-color: #f4ede4;
  line-height: 100px;
}

.title{
    color: #1D1D49;
    width: 509px;
    height: 115px;
    top: 70px;
    left: 65px;

    font-family: Playfair Display;
    font-size: 40px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;  
}

h1 {
  color: #1D1D49;
  text-transform:uppercase;
}
h2 {
  color: #3C3C3B;
  text-transform:uppercase;
}

.botons-page{
  color: #3C3C3B;
  text-align: right;
  font-family: Playfair Display;
}

.main {
    text-align: center;
    background: #1D1D49;
    width: 1180px;
    height: 739px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #1D1D49;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)

}

.texto {
  color: #ffffff;
  width: 780px;
  height: 256px;
  top: 998px;
  left: 223px;

  text-align: center;
  font-family: Playfair Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-variant: small-caps;
  padding-top: 200px;
  padding-right: 400px;
  padding-left: 210px;
}


.autor {
  color: #ffffff;
  width: 547px;
  height: 59px;
  top: 1287px;
  left: 670px;

  text-align: right;
  font-family: Playfair Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-variant: small-caps;
  padding-top: 1px;
  padding-right: 200px;
  padding-bottom: 300px;
  padding-left: 400px;
}

.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.footer-link {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
}
  
.icon-instagram:before {
  content: "\f16d";
  width: 268px;
  height: 46px;
  top: 2047px;
  left: 131px;

  font-family: Playfair Display;
  font-style: normal;
  font-variant: small-caps;
  font-size: 28px;
  font-weight: 600;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: center;
}
  
.icon-phone:before {
  content: "\f095";
  width: 268px;
  height: 46px;
  top: 2049px;
  left: 477px;

  font-family: Playfair Display;
  font-size: 28px;
  font-weight: 600;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: center;
}
  
.icon-email:before {
  content: "\f0e0";
  width: 582px;
  height: 46px;
  top: 2052px;
  left: 788px;

  font-family: Playfair Display;
  font-size: 28px;
  font-weight: 600;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: center;
}