/* Base styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  padding: 20px;
  font-size: 1.25rem; /* 20px */
  background-color: #f4ede4;
}

.title {
  color: #1D1D49;
  font-family: 'Playfair Display', sans-serif;
  font-size: 2.5rem; /* 40px */
  font-weight: 600;
}

.botons-page {
  text-align: right;
  font-family: 'Playfair Display', sans-serif;
}

.main {
  background: #1D1D49;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.texto {
  color: #ffffff;
  font-family: 'Playfair Display', sans-serif;
  font-size: 2.5rem; /* 40px */
  font-weight: 600;
  padding: 200px 210px;
}

.autor {
  color: #ffffff;
  font-family: 'Playfair Display', sans-serif;
  font-size: 2rem; /* 32px */
  font-weight: 600;
}

.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: 1rem; /* 16px */
  text-decoration: none;
  color: #ffffff;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .header, .title, .botons-page, .main, .texto, .autor, .footer, .footer-link {
    padding: 10px;
    font-size: 90%; /* Reduce font size by 10% */
  }

  .texto, .autor {
    padding: 100px 105px; /* Half the original padding */
  }
}

@media (max-width: 768px) {
  .header, .title, .botons-page, .main, .texto, .autor, .footer, .footer-link {
    padding: 5px;
    font-size: 80%; /* Reduce font size to 80% of the original */
  }

  .texto, .autor {
    padding: 50px 52px; /* Smaller padding */
  }
}

@media (max-width: 576px) {
  .header, .title, .botons-page, .main, .texto, .autor, .footer, .footer-link {
    padding: 2px;
    font-size: 70%; /* Reduce font size for very small devices */
  }

  .texto, .autor {
    padding: 25px 26px;
  }

  .footer {
    flex-direction: column; /* Stack footer items */
  }

  .footer-link {
    margin: 10px 0; /* Adjust margin for stacked items */
  }
}

/* Ensure images are responsive */
img {
  max-width: 100%;
  height: auto;
}