/* Base styles */
body {
  background-color: #f4ede4;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  padding: 20px;
  font-size: 1.25rem; /* 20px */
  background-color: #f4ede4;
  position: static;
  width: auto;
  height: 100%;
}

.title {
  color: #1D1D49;
  font-family: 'Playfair Display', sans-serif;
  font-size: 2.5rem; /* 40px */
  font-weight: 600;
}

.botons-page {
  text-align: right;
  font-family: 'Playfair Display', sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: right;
}

.image-container {
  position: relative;
  display: inline-block; /* Adjust as necessary */
}

.imagen-cara {
  top: 20%;
  left: 20%;

  position: relative;
  bottom: 100%;
  transform: translate(2%, 20%);
  z-index: 10;
}

.imagen-logo {
  top: 592px;
  left: 402px;

  position: relative;
  bottom: 100%;
  transform: translate(0%, -120%);
  z-index: 10;
}

.main {
  background: #1D1D49;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: static;
  width: auto;
  height: 100%;
}

.texto, .autor{
  color: #ffffff;
  font-family: 'Playfair Display', sans-serif;
  font-size: 40px;
  font-weight: 600;
  padding: 100px 100px;
  text-align: center;
  line-height: 64px;
  letter-spacing: 0em;
}
.autor{
  text-align: right;
}
.imagen-principal{
  width: auto;
  height: 100%;
  position: static;
}

.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: 1rem; /* 16px */
  text-decoration: none;
  color: #ffffff;
}

/* Responsive styles */
@media (max-width: 2560px) {
  .header, .title, .botons-page, .main, .texto, .autor, .footer, .footer-link {
    padding: 10px;
    font-size: 90%; /* Reduce font size by 10% */
  }

  .texto, .autor {
    padding: 100px 105px; /* Half the original padding */
  }
}

@media (max-width: 1440px) {
  .header, .title, .botons-page, .main, .texto, .autor, .footer, .footer-link {
    padding: 5px;
    font-size: 80%; /* Reduce font size to 80% of the original */
  }

  .texto, .autor {
    padding: 50px 52px; /* Smaller padding */
  }
}

@media (max-width: 320px) {
  .header, .title, .botons-page, .main, .texto, .autor, .footer, .footer-link {
    padding: 2px;
    font-size: 70%; /* Reduce font size for very small devices */
  }

  .texto, .autor {
    padding: 25px 26px;
  }

  .footer {
    flex-direction: column; /* Stack footer items */
  }

  .footer-link {
    margin: 10px 0; /* Adjust margin for stacked items */
  }
}
